[user]
  email = stevielcb@users.noreply.github.com
  name = stevielcb
[color]
  ui = auto
  branch = true
  diff = true
  interactive = true
  status = true
[pager]
  diff = diff-so-fancy | less --tabs=2 -RFX
  show = diff-so-fancy | less --tabs=2 -RFX
